<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verification account</title>
</head>
<body style="text-align: center;margin: 0; padding: 0;background: #fefaeb;">
    <header style="background: #fefaeb;">
        <div style="padding-top: 35px">
            <img src="https://i.ibb.co/0nfNbwg/1.png" alt="LOGO" />
        </div>
    </header>
    <content>
        <div style="background: #fff;margin: 40px 25px 0; padding: 40px 50px">
            <p style="font-size: 16px;font-weight: bold; color: #252525; margin: 0">Welcome to Limupa!</p>
            <p style="font-size: 14px; color: #252525;margin: 0;font-weight: 600;padding: 35px 0 5px;">Hello &lt;name&gt;</p>
            <p style="font-size: 14px; color: #252525;margin: 0;max-width: 400px;display:inline-block">We know you’d love to access your results and manage your account. In order to do that, we just need you to confirm your email address and add a password via the link below.</p>
           <div style="padding: 30px 0;">
            <button style="font-size: 14px;background: #fedd44;border: none;padding: 15px 60px;font-weight: bold;color: #000;">COMPLETE MY ACCOUNT</button>
           </div>
            <p style="font-size: 14px; color: #252525; margin: 0;padding-bottom: 15px;max-width: 250px;display:inline-block">Ignore this email if you didn’t request this as the link will expire in 1 hour. </p>
            <p style="font-size: 14px; color: #252525; margin: 0;">If you’d like to get in touch, email us at <span style="font-weight: bold">limupa@gmail.com.com</span></p>
        </div>
    </content>
    <footer style="padding: 40px 0 30px;">
        <span style="display: inline-block;margin-right: 7px;">
          <img src="https://zestteedev.blob.core.windows.net/zestteedev/ig-icon-f5ef379e7b18f0b0.png" alt="IG" />
        </span>
        <span style="display: inline-block;">
          <img src="https://zestteedev.blob.core.windows.net/zestteedev/fb-icon-c7f97d8e7ab11225.png" alt="FB" />
        </span>
        <p style="font-size: 15px; font-weight: 500">&copy; 2020 Limupa. All rights reserved</p>
      </footer>
</body>
</html>               