<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your order has been confirmed</title>
</head>

<body style="text-align: center;margin: 0; padding: 0;background: #fefaeb;">
  <header style="background: #fefaeb;">
    <div style="padding-top: 35px">
        <img src="https://i.ibb.co/0nfNbwg/1.png" alt="LOGO" />
    </div>
  </header>
  <content>
    <div style="background: #fff;margin: 40px 25px 0; padding: 40px 50px">
      <p style="font-size: 18px; color: #252525;font-weight: bold; margin: 0">Thank you for your order!</p>
      <p style="font-size: 18px; color: #252525;font-weight: bold; margin: 0">We have processed your order.</p>
      <p style="font-size: 12px; color: #252525; margin: 0;padding-top: 30px; ">Invoice Date: <%= date%>
        <p style="font-size: 12px; color: #252525; margin: 0;">Invoice Number: <%= order.id %></p>
        <hr style="border-top: 1px solid #e4e4e4;margin:20px 0 60px;" />
        <table style="width: 100%;text-align: left;">
          <thead>
            <tr>
              <th style="padding-bottom: 30px;">Description</th>
              <th style="padding-bottom: 30px;text-align: center">Quantity</th>
              <th style="padding-bottom: 30px;">Cost</th>
            </tr>
          </thead>
          <tbody style="font-size: 14px; color: #000000;">
            <% order.orderDetails.map((item) => {%>
            <tr>
              <td style="padding-bottom: 30px;"><%= item.nameProduct%></td>
              <td style="padding-bottom: 30px;text-align: center"><%= item.quantity%></td>
              <td style="padding-bottom: 30px;">$<%= item.price%></td>
            </tr>
            <%})%>
            <tr>
              <td colspan="3">
                <hr style="border-top: 1px solid #e4e4e4;margin-bottom: 20px;" />
              </td>
            </tr>
            <tr style="font-weight: bold">
              <td colspan="2">Subtotal</td>
              <td>$<%= order.itemAmount%></td>
            </tr>
            <tr style="font-weight: bold">
              <td colspan="2">Shipping</td>
              <td>$<%= order.shippingTotal%></td>
            </tr>
            <tr style="font-weight: bold">
              <td colspan="2">Total</td>
              <td>$<%= order.totalAmount%></td>
            </tr>
          </tbody>
        </table>
    </div>
  </content>
  <footer style="padding: 40px 0 30px;">
    <span style="display: inline-block;margin-right: 7px;">
      <img src="https://zestteedev.blob.core.windows.net/zestteedev/ig-icon-f5ef379e7b18f0b0.png" alt="IG" />
    </span>
    <span style="display: inline-block;">
      <img src="https://zestteedev.blob.core.windows.net/zestteedev/fb-icon-c7f97d8e7ab11225.png" alt="FB" />
    </span>
    <p style="font-size: 15px; font-weight: 600">&copy; 2020 Limupa. All rights reserved</p>
  </footer>
</body>

</html>