<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notification your order</title>
</head>
<body style="text-align: center;margin: 0; padding: 0;background: #fefaeb;">
    <header style="background: #fefaeb;">
        <div style="padding-top: 35px">
            <img src="https://i.ibb.co/0nfNbwg/1.png" alt="LOGO" />
        </div>
    </header>
    <content>
        <div style="background: #fff;margin: 40px 25px 0; padding: 40px 50px">
            <p style="font-size: 14px; color: #252525;margin: 0;font-weight: 600;padding: 0px 0 25px;">Hi: <%= name%>
            <p style="font-size: 14px; color: #252525; margin: 0">Thank you for your order. We will check our order and send to email back to you as soon as possible.</p>
            <p style="font-size: 14px; color: #252525; margin: 0;">If you’d like to get in touch, email us at <span style="font-weight: bold">limupa@gmail.com</span></p>
        </div>
    </content>
    <footer style="padding: 40px 0 30px;">
        <span style="display: inline-block;margin-right: 7px;">
          <img src="https://zestteedev.blob.core.windows.net/zestteedev/ig-icon-f5ef379e7b18f0b0.png" alt="IG" />
        </span>
        <span style="display: inline-block;">
          <img src="https://zestteedev.blob.core.windows.net/zestteedev/fb-icon-c7f97d8e7ab11225.png" alt="FB" />
        </span>
        <p style="font-size: 15px; font-weight: 500">&copy; 2020 Limupa. All rights reserved</p>
      </footer>
</body>
</html>
