<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your order was shipping</title>
</head>

<body style="text-align: center;margin: 0; padding: 0;background: #fefaeb;">
    <header style="background: #fefaeb;">
        <div style="padding-top: 35px">
            <img src="https://i.ibb.co/0nfNbwg/1.png" alt="LOGO" />
        </div>
    </header>
    <content>
        <div style="background: #fff;margin: 40px 25px 0; padding: 40px 50px">
            <p style="font-size: 16px;font-weight: bold; color: #252525; margin: 0">Hi: <%= name%>!</p>
            <p style="font-size: 14px; color: #252525;margin: 0;padding: 20px">
                <span style="max-width: 400px;display:inline-block">
                    Your order will be shipped out in 7 - 10 days.
                    We will send you the tracking information as soon as it ships out.
                    </strong></span>
            </p>
        </div>
    </content>
    <footer style="padding: 40px 0 30px;">
        <span style="display: inline-block;margin-right: 7px;">
            <img src="https://zestteedev.blob.core.windows.net/zestteedev/ig-icon-f5ef379e7b18f0b0.png" alt="IG" />
        </span>
        <span style="display: inline-block;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNk8-80DzyrWRLnHKBVz8tMHcZ73NGyWVElQ&usqp=CAU" alt="FB" />
        </span>
        <p style="font-size: 15px; font-weight: 600">&copy; 2020 Limupa. All rights reserved</p>
    </footer>
</body>

</html>